*.jpg
*.png
*.csv
.cache
*.egg
*.egg-info/
.pytest_cache
*.db
*.rdb
env/
__pycache__/
.env
.tox/
*.swp
*.pdf
notebooks/.ipynb_checkpoints
*.npy
tox.ini
data/knowledge
data/images
data/processed
data/client
data/logs
data/tests
!/server/static/intro/default.png
!/server/static/profile_pics/default.png
!/server/static/company_pics/default.png
!/server/static/intro/default.png
!/server/static/docs/manual.pdf
!/server/static/docs/referencial.pdf
