atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.3.5
awscli==1.16.108
bcrypt==3.2.0
botocore==1.12.98
Brotli==1.0.9
brotlipy==0.7.0
catboost==0.11.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.3.9
conda==4.9.2
conda-package-handling==1.7.2
cryptography==3.3.1
cycler==0.10.0
Cython==0.29.2
dash==1.9.0
dash-bootstrap-components==0.9.1
dash-core-components==1.8.0
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.0
dataclasses==0.8
DateTime==4.3
dnspython==2.0.0
docutils==0.16
dominate==2.6.0
email-validator==1.1.2
enum34==1.1.10
flake8==3.6.0
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.8.0
Flask-Login==0.5.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==2.2.3
mccabe==0.6.1
more-itertools==8.6.0
numpy==1.15.4
pandas==0.24.0
pandas-datareader==0.9.0
patsy==0.5.1
plotly==4.5.1
pluggy==0.13.1
psycopg2-binary==2.7.6.1
py==1.10.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pyflakes==2.0.0
PyJWT==1.7.1
pymodbus==2.3.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyserial==3.4
PySocks==1.7.1
pytest==4.0.1
python-dateutil==2.8.1
python-dotenv==0.9.1
pytz==2020.5
PyYAML==3.13
requests==2.25.1
retrying==1.3.3
rsa==3.4.2
ruamel-yaml-conda==0.15.80
s3transfer==0.2.1
scikit-learn==0.20.1
scipy==1.5.4
seaborn==0.9.0
six==1.15.0
SQLAlchemy==1.3.22
-e git+git@gitlab.com:oscarkremer/predictive-maintenance-ifsul.git@63befa1ffefc0ae0951d694c0f70607512e429d8#egg=src
statsmodels==0.9.0
torch==1.7.1
tqdm==4.55.0
twilio==6.50.1
typing-extensions==3.7.4.3
urllib3==1.26.2
visitor==0.1.3
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.4.0
zope.interface==5.2.0
