{% extends "layout.html" %}
{% block content %}
        <br>
        <article class="media">
        <img src="{{url_for('static', filename='intro/default.png') }}" 
              class="align-self-center w-25 mr-3" style="max-width:120px;max-heigh:120px;">  
        <div class="media-body">
            <h4 class="mt-0 mb-1" href="#">Artificial Intelligence Product</h4>
            <h5><a class="mr-2" href="https://garten.com.br/">Garten Automation </a></h5>
            <h5 class='mr-2'> A deep learning based product in advance of technology, automation and modernization. Cerberus represents
                completely 4.0 industry and the insertion of I.A in the markety, providing intelligent solutions to daily analysis.  </h5>
        </div>
        </article>
        <br>
        <hr style="width: 100%; height: 1px; " />    
{% endblock content %}
