{% extends "layout.html" %}
{% block content %}
  <br>
  <article class="media content-section">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js'></script>
    <div class="media-body">
      <div class="article-metadata">
        {% if analysis.author == current_user %}
          <a class="mc-2" href="{{ url_for('account') }}">{{ analysis.author.username }}</a>
          <small class="text-muted">{{ analysis.date_posted.strftime('%Y-%m-%d') }}</small>        
        {% else %}
          <a class="mc-2" href="{{ url_for('user', user_id=analysis.author.id) }}">{{ analysis.author.username }}</a>
          <small class="text-muted">{{ analysis.date_posted.strftime('%Y-%m-%d') }}</small>                
        {% endif %}
        {% if analysis.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_analysis', analysis_id=analysis.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ analysis.title }}</h2>
      <h4 class="article-title">{{ analysis.comment }}</h4>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#problems">Problems</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile">Geometric</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="color">Color</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Report</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('download_report', analysis_id=analysis.id)}}">Download</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="problems">
          <div class='container-fluid'>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Type of Problem</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <th scope="row">Saudável</th>
                    <td>{{analysis.saudavel}}%</td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Bandinha</th>
                    <td>{{analysis.bandinha}}%</td>
                  </tr>
                  <tr class="table-light">
                      <th scope="row">Genético</th>
                      <td>{{analysis.genetico}}%</td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Manchado</th>
                    <td>{{analysis.manchado}}%</td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Mordido</th>
                    <td>{{analysis.mordido}}%</td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Caruncho</th>
                    <td>{{analysis.caruncho}}%</td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Ardido&Mofado</th>
                    <td>{{analysis.ardido}}%</td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Contaminantes</th>
                    <td>{{analysis.contaminantes}}%</td>
                  </tr>
                  <tr class="table-light">
                    <th scope="row">Imaturo</th>
                    <td>{{analysis.imaturo}}%</td>
                  </tr>
                </tbody>
            </table>
            </div>
        <br>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <h4>Graphical Analysis</h4>  
          <canvas id="problemchart"></canvas>
        </div>
        <script>
            var problemCanvas = document.getElementById("problemchart");
            Chart.defaults.global.defaultFontSize = 18;
            var problemData = {
                labels: [
                {% for item in problem_labels %}
                 "{{ item }}",
                {% endfor %}],
                datasets: [
                    {data: 
                      [{% for item in problem_values %}
                      "{{ item }}",
                      {% endfor %}],
                    backgroundColor: 
                      [{% for item in colors %}
                      "{{ item }}",
                      {% endfor %}],
                    borderColor: 
                      "white",
                      borderWidth: 1
                    }]
            };
            var chartOptions = {
              rotation: -Math.PI,
              cutoutPercentage: 20,
              legend: {
                position: 'left',
                labels:{
                  fontSize: 10,
                  lineHeight:0.5,
                  padding: 3,	
                }
              },
              animation: {
                animateRotate: true,
                animateScale: true
              }
            };
            var pieChart = new Chart(problemCanvas, {
              type: 'doughnut',
              data: problemData,
              options: chartOptions
            });
        </script> 
        <br>        </div>
        <div class="tab-pane fade active show" id="profile">
            <div class='container-fluid'>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-light">
                      <th scope="row">Peneira - 12</th>
                      <td>{{analysis.size_12}}%</td>
                    </tr>
                    <tr class="table-light">
                      <th scope="row">Peneira - 11</th>
                      <td>{{analysis.size_11}}%</td>
                    </tr>
                    <tr class="table-light">
                      <th scope="row">Peneira - 10 </th>
                      <td>{{analysis.size_10}}%</td>
                    </tr>
                    <tr class="table-light">
                      <th scope="row">Peneira - 9 e menos </th>
                      <td>{{analysis.size_9}}%</td>
                    </tr>
                    <tr class="table-light">
                      <th scope="row">Imaturo</th>
                      <td>{{analysis.imaturo}}%</td>
                    </tr>
                  </tbody>
              </table>
              </div>
          <br>
          <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <h4>Graphical Analysis</h4>  
            <canvas id="geometricchart"></canvas>
          </div>
          <script>
              var geometricCanvas = document.getElementById("geometricchart");
              Chart.defaults.global.defaultFontSize = 18;
              var geometricData = {
                  labels: [
                  {% for item in geometric_labels %}
                   "{{ item }}",
                  {% endfor %}],
                  datasets: [
                      {data: 
                        [{% for item in geometric_values %}
                        "{{ item }}",
                        {% endfor %}],
                      backgroundColor: 
                        [{% for item in colors %}
                        "{{ item }}",
                        {% endfor %}],
                      borderColor: 
                        "white",
                        borderWidth: 1
                      }]
              };
              var chartOptions = {
                rotation: -Math.PI,
                cutoutPercentage: 20,
                legend: {
                  position: 'left',
                  labels:{
                    fontSize: 10
                  }
                },
                animation: {
                  animateRotate: true,
                  animateScale: true
                }
              };
              var pieChart = new Chart(geometricCanvas, {
                type: 'doughnut',
                data: geometricData,
                options: chartOptions
              });
          </script> 
       </div>
        <div class="tab-pane fade" id="color">
          <p>Color Quality</p>
        </div>
      </div>
      <br>
  </article>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Analysis?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_analysis', analysis_id=analysis.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
    <br>

  </div>  
{% endblock content %}