{% extends "layout.html" %}
{% block content %}
    {% for company in companies %}
        <br>
        <article class="media">
            <img src="{{url_for('static', filename='company_pics/' + company.image_file) }}" 
                class="align-self-center w-25 mr-3" style="max-width:120px;max-heigh:120px;">
        <div class="media-body">
            <h4><a class="mt-0 mb-1" href="{{url_for('company', company_id=company.id)}}">{{company.name}}</a></h4> 
            <h5 class="mr-2" href="#">{{company.address}} </h5>
            <h5 class="mr-2" href="#">{{company.country}} </h5>
            <h5 class="mr-2" href="#">{{company.email}} </h5>
            <h5 class="mr-2" href="#">{{company.telephone}} </h5>
        </div>
        </article>
        <br>
        <hr style="width: 100%; height: 1px; " />    
    {% endfor %}
{% endblock content %}
