{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form id = "analysis" method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group" >
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid",placeholder="testando") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg", placeholder="Company Name") }}
                {% endif %}
            </div>
             <div class="form-group" >
                {{ form.address.label(class="form-control-label") }}
                {% if form.address.errors %}
                    {{ form.address(class="form-control form-control-lg is-invalid",placeholder="testando") }}
                    <div class="invalid-feedback">
                    {% for error in form.address.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.address(class="form-control form-control-lg", placeholder="Address") }}
                {% endif %}
            </div>
            <div class="form-group" >
            {{ form.city.label(class="form-control-label") }}
            {% if form.city.errors %}
                {{ form.city(class="form-control form-control-lg is-invalid",placeholder="testando") }}
                <div class="invalid-feedback">
                {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.city(class="form-control form-control-lg", placeholder="City") }}
            {% endif %}
            </div>   
            <div class="form-group" >
            {{ form.country.label(class="form-control-label") }}
            {% if form.country.errors %}
                {{ form.country(class="form-control form-control-lg is-invalid",placeholder="testando") }}
                        <div class="invalid-feedback">
                        {% for error in form.country.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                 {% else %}
                        {{ form.country(class="form-control form-control-lg", placeholder="Country") }}
                {% endif %}
            </div>     
            <div class="form-group" >
                {{ form.telephone.label(class="form-control-label") }}
                {% if form.telephone.errors %}
                    {{ form.telephone(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.telephone.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                 {% else %}
                        {{ form.telephone(class="form-control form-control-lg", placeholder="(XX) XXXX-XXXX") }}
                {% endif %}
            </div>     
            <div>
                <span class="custom-text" id ="image-text1">Select a image file</span>
            </div> 
            <div class="form-group">
                <div class="input-group mb-3" id = 'upload-button1'>
                    <div class="custom-file">
                        {{form.picture(class="custom-file-input", id="input_image1") }}
                        {{form.picture.label(class="custom-file-label", for="input_image1")}}
                        {% if form.picture.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                const realFileBtn1 = document.getElementById("input_image1");
                const customBtn1 = document.getElementById("upload-button1");
                const customTxt1 = document.getElementById("image-text1");
                realFileBtn1.addEventListener("change", function() {
                if (realFileBtn1.value) {
                    customTxt1.innerHTML = realFileBtn1.value.match(
                    /[\/\\]([\w\d\s\.\-\(\)]+)$/
                    )[1];
                } else {
                    customTxt1.innerHTML = "Select a image file";
                }
                });            
                var clicked = false;
                function disableMe() {
                    var form = document.getElementById("analysis");
                    var isValidForm = form.checkValidity();
                    if (isValidForm) {
                        if(!clicked){
                        document.getElementById("submit-button").value = "thank you";
                        clicked = true;
                        return true;
                        }
                        else{
                            return false;
                        }                  
                    }
                }
            </script>
            <p align='center'>
            </br>
            <button type="submit" id="submit-button" class="btn btn-secondary btn-lg btn-block" onClick="return disableMe()">Submit</button>
            </p>
        </fieldset>
    </form>
</div>
{% endblock content %}


