{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron" style="background-color:#30303087">
        <h1 style="text-align:center;">Deleted Analysis</h1>
        <p style="text-align:center;"> This analysis has been deleted and removed from your database, if you want to have access
        to results please contact us </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    particlesJS.load('particles-js', "{{url_for('static',filename='particles.json')}}", function(){
    console.log('particles.json loaded...'); });
</script>
{% endblock content %}

