{% extends "layout.html" %}
{% block content %}
    <form id = "search" method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group" >
                {{ form.text.label(class="form-control-label") }}
                {{ form.text(class="form-control form-control-lg", placeholder="Search") }}
            </div>
            <div class="form-check">
                <div class="custom-control custom-checkbox">
                    {{ form.user(class="custom-control-input", type="checkbox") }}
                    {{ form.user.label(class="custom-control-label") }}
                </div>
            </div>
            {% if current_user.super_admin %}
                <div class="form-check">
                    <div class="custom-control custom-checkbox">
                        {{ form.company(class="custom-control-input", type="checkbox") }}
                        {{ form.company.label(class="custom-control-label") }}
                    </div>
                </div>
            {% endif %}
            <script type="text/javascript">
            var clicked = false;
            function disableMe() {
                var form = document.getElementById("search");
                var isValidForm = form.checkValidity();
                if (isValidForm) {
                    if(!clicked){
                        document.getElementById("submit-button").value = "thank you";
                        clicked = true;
                        return true;
                    }
                    else{
                        return false;
                    }                  
                }
            }
            </script>
        <p align='center'>
            </br>
        </p>
        </fieldset>
    </form>
    {% for equipment in equipments %}
        <br>
        <article class="media">
            <img src="{{url_for('static', filename='profile_pics/' + equipment.owner.image_file) }}" 
            class="align-self-center w-25 mr-3" style="max-width:120px;max-heigh:120px;">      
        <div class="media-body">
            <h4><a class="mt-0 mb-1" href="{{url_for('equipment', equipment_id=equipment.id)}}">{{equipment.owner.username}}</a></h4> 
            <h5 class="mr-2" href="#">{{equipment.owner.email}} </h5>
            <h5 class="mr-2" href="#">{{equipment.password}} </h5>
            <h5 class="mr-2">{{equipment.owner.company.name}} </h5>
            <h5 class="mr-2"> <b>id:</b> {{equipment.id}}</h5>
        </div>
        </article>
        <br>
        <hr style="width: 100%; height: 1px; " />    
    {% endfor %}
{% endblock content %}



