{% extends "layout.html" %}
{% block content %}
    <small class="text-muted ml-1">
        <a href="{{url_for('referencial')}}">Quality Reference</a>
    </small>
    <small class="text-muted">
         / 
    </small>
    <small class="text-muted">
        <a href="{{url_for('manual')}}">Manual</a>
    </small>
    <form id = "search" method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}     
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group" >
                {{ form.text.label(class="form-control-label") }}
                {{ form.text(class="form-control form-control-lg", placeholder="Search an Analysis by its Title") }}
            </div>
            <script type="text/javascript">
            var clicked = false;
            function disableMe() {
                var form = document.getElementById("search");
                var isValidForm = form.checkValidity();
                if (isValidForm) {
                    if(!clicked){
                    document.getElementById("submit-button").value = "thank you";
                    clicked = true;
                    return true;
                    }
                    else{
                        return false;
                    }                  
                }
            }
            </script>

        </fieldset>
    </form>
    {% for analysis in analysiss %}
        <br>
        <article class="media">
          <img src="{{url_for('static', filename='profile_pics/' + analysis.author.image_file) }}" 
              class="align-self-center w-25 mr-3" style="max-width:120px;max-heigh:120px;">  
        <div class="media-body">
            <h4><a class="mt-0 mb-1" href="{{ url_for('analysis', analysis_id=analysis.id) }}">{{ analysis.title }}</a></h4>
            <h5 class="mr-2" href="#">{{analysis.author.username}} </h5>
            <h5 class="mr-2" href="#">{{analysis.author.email}} </h5>
            <h5 class="mr-2" href="#">{{analysis.date_posted.strftime('%Y-%m-%d')}} </h5>
            <p class="article-content">{{analysis.content}}</p>
        </div>
        </article>
        <br>
        <hr style="width: 100%; height: 1px; " />    
    {% endfor %}
{% endblock content %}
