
{% extends "init_layout.html" %}
{% block content %}
  <div id="particles-js"></div>
  <div id="overlay">
      <div class="jumbotron" style="background-color:#00000000; border-color: #30303000">
        <h1 style="text-align:center;">Cerberus</h1>
        <p style="text-align:center;">Your request in under analysis in our server, please wait a few seconds while Cerberus
            processes your images</p>
          <a href="{{ url_for('home') }}" class="btn btn-secondary btn-lg btn-block" style="text-align:center;">Return</a>
      </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
    particlesJS.load('particles-js', "{{url_for('static',filename='particles.json')}}", function(){
      console.log('particles.json loaded...');
    });
  </script>
{% endblock content %}
