<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    {% if title %}
        <title>Corona Prediction - {{ title }}</title>
    {% else %}
        <title>Corona Prediction</title>
    {% endif %}
</head>

<body>
    <class id="fluid-container">
        <header class="site-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Corona Prediction</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                  <ul class="navbar-nav mr-auto">
                      {% if current_user.admin %}
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('home') }}"> Minhas Análises <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('users') }}"> Usuários</a>
                        </li>
                      {% else %}
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('home') }}"> Minhas Análises <span class="sr-only">(current)</span></a>
                        </li>
                      {% endif %}                      
                  </ul>
                  <ul class="navbar-nav ml-auto">
                      {% if current_user.is_authenticated %}
                          <li class="nav-item-right">
                            <a class="nav-link" href="{{ url_for('new_analysis') }}">Nova Análise<span class="sr-only">(current)</span></span></a>
                          </li> 
                          <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('account') }}">Conta<span class="sr-only">(current)</span></span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Sair<span class="sr-only">(current)</span></span></a>
                          </li>
                      {% else %}
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('login') }}">Entrar<span class="sr-only">(current)</span></span></a>
                        </li> 
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('register') }}">Registre-se<span class="sr-only">(current)</span></span></a>
                        </li>
                      {% endif %}
                  </ul>
                </div>
              </nav>
            </br>
          </header>      
        </class>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>