{% extends "init_layout.html" %}
{% block content %}
    <div id="particles-js"></div>
    <div id="overlay">
    <div class="jumbotron_register">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    <div class="custom-control custom-checkbox">
                    {{ form.remember(class="custom-control-input", type="checkbox", checked="") }}
                    {{ form.remember.label(class="custom-control-label") }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-secondary btn-lg btn-block") }}
            </div>
        </form>
        <div class="border-top ml-1">
            <small class="text-muted">
                If you wish to have an account<a class="ml-2" href="{{ url_for('register') }}">sign up</a>
            </small>
        </div>        
    </div>
    </class>
{% endblock content %}
